<configuration>

    <appender name="TFA" class="ru.stachek66.okminer.gui.utils.TextFieldAppender2">

        <encoder>
            <pattern>%logger{5} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tech-trends.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TFA" />
        <appender-ref ref="FILE" />
    </root>

</configuration>